<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link th:href="@{/css/font-awesome.css}" rel="stylesheet" />
    <link th:href="@{styles/bootstrap-social.css}" rel="stylesheet" />
    <link th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/bower_components/bootstrap/dist/css/bootstrap-theme.min.css}" rel="stylesheet" />
    <link th:href="@{/bower_components/font-awesome/css/font-awesome.min.css}" rel="stylesheet" />
</head>

<body>
	<h1>Found a movie</h1>
	<div id="div">
		<!--<h1 th:text="${message}"></h1>	  -->
		<!-- <form id="queryForm" action="find">-->
		<!-- <form action="result" th:action="@{/search}" th:object="${movie}" method="post">-->
			
			
			<!--
			 
			<p>Title: <input type="text" id='inputTitle'></p>
			<p>Genre: <input type="text" id='inputGenre'></p>
			<p>Synopsis: <input type="text" id='inputSynopsis'></p>
			<p>Actor: <input type="text" id='inputActor'></p>
			<p>Director: <input type="text" id='inputDirector'></p>
			<p>Release date period: <input type="text" id='inputGenre'> until <input type="text" id='inputGenre'></p>
			<p><input type="submit" value="Search" id="button" name="search"></p>
			-->
			
		</form>
	</div>

</body>
</html>
