<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/style.css}" rel="stylesheet" />
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link th:href="@{/css/font-awesome.css}" rel="stylesheet" />
    <link th:href="@{styles/bootstrap-social.css}" rel="stylesheet" />
    <link th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/bower_components/bootstrap/dist/css/bootstrap-theme.min.css}" rel="stylesheet" />
    <link href="@{/bower_components/font-awesome/css/font-awesome.min.css}" rel="stylesheet" />
</head>
<!-- 
<style>
#div {
	position: absolute;
	top: 30%;
	left: 30%;
}
</style>
 -->
<body>
	<h1>Find a movie</h1>
	<div id="div">
		<!--  <form id="queryForm" method="post">-->
		<form action="#" class="col-xs-12 col-sm-9" th:action="@{/search}" th:object="${searchform}" method="post">
		<div class="form-group">
			<p>Title: <input type="text" th:field="*{title}"/></p>
		</div>
		<div class="form-group">
			<p>Genre: <input type="text" th:field="*{genre}"/></p>
		</div>
		<div class="form-group">
			<p>Synopsis: <input type="text" th:field="*{synopsis}" /></p>
		</div>
			<!-- 
			<p>Actor: <input type="text" th:field="*{actor}" /></p>
			<p>Director: <input type="text" th:field="*{director}" /></p>
			-->
		<div class="form-group">
			<p>Release date period: <input type="text" th:field="*{releaseDateBegin}"/> until <input type="text" th:field="*{releaseDateEnd}"/></p>
		</div>	
			<p><input type="submit" value="Search" id="button" name="search"></p>
		</form>
	</div>

</body>
</html>
